h1 {
  margin: 10px;
  font-variant: small-caps;
  font-size: 3rem;
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: .1rem;
}
body {
  font-family: Montserrat, sans-serif;
}

body > h2 > span {
  font-variant: small-caps;
  margin: 10px;
}

img {
  margin: 0px 38%;
  border-radius: 50%;
}

body > ol {
  line-height: 1.5rem;
  border: 2px solid black;
  width: 40%;
  margin: auto;
  padding: 20px 20px 20px 40px;
}
